In [1]:
import pandas as pd
import numpy as np

In [45]:
properati = pd.read_csv("properatti.csv")
properati_csv = pd.read_csv("properatti.csv")

In [46]:
properati.shape

(121220, 26)

In [47]:
#Se dropean columnas repetidas (Unnamed = Indice)
properati.drop(columns=["Unnamed: 0"], inplace=True) 
properati_csv.drop(columns=["Unnamed: 0"], inplace=True)

In [48]:
#lowearcassean los strings del df
properati = properati.applymap(lambda x: x if type(x)!=str else x.lower())
properati_csv = properati_csv.applymap(lambda x: x if type(x)!=str else x.lower())

In [12]:
properati.head(2)

,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,sell,ph,mataderos,|argentina|capital federal|mataderos|,argentina,capital federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,-58.508839,...,40.0,1127.272727,1550.0,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 ambientes tipo casa planta baja por pasillo,...",2 amb tipo casa sin expensas en pb,https://thumbs4.properati.com/8/bluuyihjlhgiik...
1,sell,apartment,la plata,|argentina|bs.as. g.b.a. zona sur|la plata|,argentina,bs.as. g.b.a. zona sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,-57.964330,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,venta de departamento en décimo piso al frente...,venta depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpvbu2ztha7jv...

In [49]:
#Todas las valores en "operation" figura como sell, se dropea la columna
#properati["operation"][properati2["operation"]!="sell"].sum() #0
properati.drop(columns=["operation"], inplace=True)
properati_csv.drop(columns=["operation"], inplace=True)

In [7]:
#Se dropean las filas con descripccion repetidas
#properati:121220 ; properati2: 104005  
#properati = properati.drop_duplicates("description", inplace=True)
#properati.shape

In [34]:
#mascara booleana que indica que no hay currency nan con valor en price
(properati['currency'].isna() & ~properati['price'].isna()).sum()

1

In [49]:
#TAREA: properati2[["price","currency","price_aprox_usd","price_usd_per_m2","price_per_m2","price_aprox_local_currency"]]

In [ ]:
------------------------------- Pesos a Dolares ----------------------------------

In [ ]:
#Convertir los precios en pesos a dolares
# len(properati["price"][properati["currency"]=="ars"])          # Precios en ars = 13219

In [112]:
#Convertir los precios en pesos a dolares

#Inferi mal por que no tuve en cuenta el tipo de cambio en el momento de la publicacion
#properati["price"][properati["currency"]=="ars"] = properati["price"][properati["currency"]=="ars"].apply(lambda x: x/55)

In [76]:
#properati["price"] = np.around(properati["price"])

In [97]:
precios_pesos = properati["price"][properati["currency"]=="ars"]
properati[["price","price_aprox_usd"]][properati["currency"]=="ars"]

            price  price_aprox_usd
9        460000.0         25798.49
32       550000.0         30846.02
37      1250000.0         70104.59
78      5500000.0        308460.22
97      1423800.0         79851.93
99       850000.0         47671.12
122     2600000.0        145817.55
128     1250000.0         70104.59
130     1111111.0         62315.19
154     1200000.0         67300.41
168     2500000.0        140209.19
169     1760000.0         98707.27
174     1473950.0         82664.53
212      820000.0         45988.61
213     1200000.0         67300.41
232     1298000.0         72796.61
233     2272000.0        127422.11
265     1250000.0         70104.59
307      825000.0         46269.03
309     1500000.0         84125.51
331     2550000.0        143013.37
351     1099350.0         61655.59
352     1113420.0         62444.68
353     1127700.0         63245.56
354     1141980.0         64046.43
355     1327515.0         74451.92
356     1344630.0         75411.79
357     1361745.0         76371.66
358     1105545.0         62003.02
359     1120035.0         62815.68
...           ...              ...
121177  1427000.0         80031.40
121178  1432000.0         80311.82
121179  1459000.0         81826.08
121180  1459000.0         81826.08
121181  1438000.0         80648.32
121182  1411000.0         79134.06
121183  1470000.0         82443.00
121184  1454000.0         81545.66
121185  1454000.0         81545.66
121186  1465000.0         82162.58
121187  1471000.0         82499.08
121188  1471000.0         82499.08
121189  2678000.0        150192.08
121190  2714000.0        152211.09
121191  1482000.0         83116.00
121192  1482000.0         83116.00
121193  1859000.0        104259.55
121194  1487000.0         83396.42
121195  1487000.0         83396.42
121196  1497000.0         83957.26
121197  1497000.0         83957.26
121198  1492000.0         83676.84
121199  1502000.0         84237.68
121200  1498000.0         84013.34
121201  1498000.0         84013.34
121202  1507000.0         84518.10
121203  1502000.0         84237.68
121204  1502000.0         84237.68
121205  1507000.0         84518.10
121206  1507000.0         84518.10

[13219 rows x 2 columns]

In [113]:
#precios q se infieren a dolares por medio de la columna "price_aprox_usd"
properati["price"][properati["currency"]=="ars"] = properati["price_aprox_usd"][properati["currency"]=="ars"]

C:\Users\Kristian\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [107]:
properati["price"] = np.around(properati["price"],1)

In [ ]:
------------------------------- Pesos a Dolares ----------------------------------

In [ ]:
########## Pienso
#(properati["currency"].isna() & ~(properati["price"].isna())).sum()  #= 1    ##cuanto precios con valor y currencys nan hay

In [17]:
#"price", "price_aprox_usd","price_aprox_local_currency" todos tienen sus datos completos
properati[["price","price_aprox_usd","price_aprox_local_currency"]].sample(50)

            price  price_aprox_usd  price_aprox_local_currency
73265     95000.0         95000.00                  1676227.50
64296    245000.0        245000.00                  4322902.50
93867         NaN              NaN                         NaN
33472         NaN              NaN                         NaN
89522    642000.0         36005.72                   635302.92
30711    420000.0        420000.00                  7410690.00
47917    269000.0        269000.00                  4746370.50
64211         NaN              NaN                         NaN
88174    110041.0        110041.00                  1941618.42
65797    250000.0        250000.00                  4411125.00
41409    160000.0        160000.00                  2823120.00
115263  1499000.0         84069.43                  1483363.05
106408   297000.0        297000.00                  5240416.50
51930     78000.0         78000.00                  1376271.00
61021    170000.0        170000.00                  2999565.00
71582         NaN              NaN                         NaN
73821    150000.0        150000.00                  2646675.00
113236   149500.0        149500.00                  2637852.75
75135    155000.0        155000.00                  2734897.50
39182    107000.0        107000.00                  1887961.50
51682         NaN              NaN                         NaN
50578    108850.0        108850.00                  1920603.82
45262    280000.0        280000.00                  4940460.00
52585     68000.0         68000.00                  1199826.00
75624         NaN              NaN                         NaN
74525    110000.0        110000.00                  1940895.00
78263    450000.0        450000.00                  7940025.00
107476   142000.0        142000.00                  2505519.00
8540    1200000.0         67300.41                  1187482.08
53996    235000.0        235000.00                  4146457.50
90459    890000.0         49914.47                   880715.86
61543    115000.0        115000.00                  2029117.50
35305    150000.0        150000.00                  2646675.00
62955   1100000.0       1100000.00                 19408950.00
68660   1150000.0         64496.22                  1138003.55
4238          NaN              NaN                         NaN
70118     90000.0         90000.00                  1588005.00
57785    600000.0        600000.00                 10586700.00
18026    130000.0        130000.00                  2293785.00
42954    149000.0        149000.00                  2629030.50
82657    299000.0        299000.00                  5275705.50
117746        NaN              NaN                         NaN
21570    110000.0        110000.00                  1940895.00
94311    450000.0        450000.00                  7940025.00
5264     345000.0        345000.00                  6087352.50
92410    261000.0        261000.00                  4605214.50
26053    903568.0        903568.00                 15943005.57
73767    165000.0        165000.00                  2911342.50
11974         NaN              NaN                         NaN
114269    55000.0         55000.00                   970447.50

In [13]:
------------------------------------------------------------------------------

0

In [ ]:
------------------------------ Superficie segun el precio ---------------------------

In [22]:
properati.isnull().sum()

property_type                      0
place_name                        23
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    18717
lat-lon                        51550
lat                            51550
lon                            51550
price                          20410
currency                       20411
price_aprox_local_currency     20410
price_aprox_usd                20410
surface_total_in_m2            39328
surface_covered_in_m2          19907
price_usd_per_m2               52603
price_per_m2                   33562
floor                         113321
rooms                          73830
expenses                      106958
properati_url                      0
description                        2
title                              0
image_thumbnail                 3112
dtype: int64

In [44]:
# Nulos:
# "surface_total_in_m2" = 39328
# "price_usd_per_m2" = 52603 -- 50659 -- 33526
#"price_per_m2" = 33562
#"price" & "price_aprox_local_currency" & "price_aprox_usd" = 20410

properati[["currency","price_per_m2","surface_total_in_m2","price_usd_per_m2","price_aprox_usd"]].head(25)

,currency,price_per_m2,surface_total_in_m2,price_usd_per_m2,price_aprox_usd
0,usd,1550.000000,55.0,1127.272727,62000.00
1,usd,NaN,NaN,NaN,150000.00
2,usd,1309.090909,55.0,1309.090909,72000.00
3,usd,NaN,NaN,NaN,95000.00
4,usd,1828.571429,35.0,1828.571429,64000.00
5,NaN,NaN,53.0,NaN,NaN
6,usd,1666.666667,106.0,1226.415094,130000.00
7,usd,3450.000000,45.0,3066.666667,138000.00
8,usd,3250.000000,65.0,3000.000000,195000.00
9,ars,NaN,NaN,NaN,25798.49
10,usd,NaN,1514.0,46.235139,70000.00
11,usd,NaN,NaN,NaN,150000.00
12,usd,3194.444444,39.0,2948.717949,115000.00
13,usd,3723.333333,50.0,2234.000000,111700.00
14,usd,4770.967742,42.0,3521.428571,147900.00
15,usd,NaN,164.0,1524.390244,250000.00
16,usd,2438.775510,140.0,1707.142857,239000.00
17,usd,4038.461538,176.0,1789.772727,315000.00
18,usd,2111.111111,270.0,2111.111111,570000.00
19,usd,3645.833333,104.0,3365.384615,350000.00
20,NaN,NaN,148.0,NaN,NaN
21,usd,3705.479452,118.0,2292.372881,270500.00
22,usd,1450.000000,200.0,1450.000000,290000.00
23,usd,1952.380952,48.0,1708.333333,82000.00
24,usd,2218.750000,160.0,2218.750000,355000.00

In [39]:
properati["price_per_m2"][properati["currency"]=="ars"] = properati["price_usd_per_m2"][properati["currency"]=="ars"]

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [54]:
properati[["currency","price_usd_per_m2","price_aprox_usd","price_per_m2","surface_total_in_m2"]].sample(25)

,currency,price_usd_per_m2,price_aprox_usd,price_per_m2,surface_total_in_m2
105391,usd,NaN,250000.00,961.538462,NaN
58841,usd,2048.750000,81950.00,2048.750000,40.0
59592,usd,7968.750000,2550000.00,11590.909091,320.0
16965,usd,336.817654,290000.00,NaN,861.0
75784,ars,886.793162,103754.80,17619.047619,117.0
118175,NaN,NaN,NaN,NaN,86.0
86902,usd,NaN,106500.00,2130.000000,NaN
21333,usd,NaN,55000.00,1375.000000,NaN
60069,usd,1571.428571,110000.00,1571.428571,70.0
36911,usd,1400.000000,140000.00,2545.454545,100.0
119655,usd,NaN,79900.00,3995.000000,NaN
105910,usd,3305.084746,585000.00,3305.084746,177.0
68815,usd,4487.179487,350000.00,4929.577465,78.0
57104,usd,NaN,400000.00,3333.333333,NaN
52738,usd,113.122172,50000.00,NaN,442.0
64534,usd,2608.695652,120000.00,2727.272727,46.0
25802,usd,1233.333333,37000.00,1233.333333,30.0
19432,ars,NaN,29107.42,25950.000000,NaN
27671,NaN,NaN,NaN,NaN,260.0
96592,usd,3026.315789,690000.00,5307.692308,228.0
89497,NaN,NaN,NaN,NaN,42.0
12921,usd,NaN,230000.00,4035.087719,NaN
52618,usd,1453.488372,250000.00,1008.064516,172.0
23269,usd,NaN,140000.00,2333.333333,NaN
120403,ars,2186.438529,74338.91,42758.064516,34.0

In [55]:
properati.columns

Index(['property_type', 'place_name', 'place_with_parent_names',
       'country_name', 'state_name', 'geonames_id', 'lat-lon', 'lat', 'lon',
       'price', 'currency', 'price_aprox_local_currency', 'price_aprox_usd',
       'surface_total_in_m2', 'surface_covered_in_m2', 'price_usd_per_m2',
       'price_per_m2', 'floor', 'rooms', 'expenses', 'properati_url',
       'description', 'title', 'image_thumbnail'],
      dtype='object')

In [72]:
#rellene 1944 valores de "price_usd_per_m2"     infiriendo "price_usd_per_m2" con "price_per_m2" ; "currency" == "ars"
properati["price_usd_per_m2"][properati["currency"]=="ars"] = (properati["price_per_m2"][properati["currency"]=="ars"])*17.6445
#properati["price_usd_per_m2"].isnull().sum() = 50659

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [77]:
properati["price_usd_per_m2"][properati["currency"]=="usd"] = properati["price_per_m2"][properati["currency"]=="usd"]

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [78]:
properati["price_usd_per_m2"].isnull().sum()

33562

In [ ]:
properati["price_usd_per_m2"][properati["price_usd_per_m2"].isna() & properati["currency"]=="usd"] = properati[""]

In [97]:
#   # "surface_covered_in_m2" its the real surface per m2 
properati[["currency","price_usd_per_m2","price_aprox_usd","price_per_m2","surface_covered_in_m2"]].sample(10)

,currency,price_usd_per_m2,price_aprox_usd,price_per_m2,surface_covered_in_m2
81335,NaN,NaN,NaN,NaN,215.0
20451,ars,NaN,30846.02,NaN,NaN
94801,usd,974.358974,570000.00,974.358974,585.0
60873,ars,551390.625000,84125.51,31250.000000,48.0
60312,usd,2066.666667,62000.00,2066.666667,30.0
94110,usd,2585.714286,90500.00,2585.714286,35.0
89036,ars,NaN,119514.31,NaN,NaN
87695,usd,2090.000000,77330.00,2090.000000,37.0
13459,usd,1666.666667,155000.00,1666.666667,93.0
118886,NaN,NaN,NaN,NaN,NaN

In [99]:
properati["description"][20451]

'codigo: 783-4467 ubicado en: monseñor solari  -  publicado por: angélica fernandez propiedades. el precio es de ars 550000 null. ph 4 ambientes, solo 2 ph en el terreno totalmente independiente. 3 habitaciones, comedor, cocina, y dos patios. 135 mts a cuadras de la base morón.                                                                                                                                                                                                                                                                                                                                        . publicado a través de mapaprop'

In [102]:
properati.isnull().sum()

property_type                      0
place_name                        23
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    18717
lat-lon                        51550
lat                            51550
lon                            51550
price                          20410
currency                       20411
price_aprox_local_currency     20410
price_aprox_usd                20410
surface_total_in_m2            39328
surface_covered_in_m2          19907
price_usd_per_m2               33562
price_per_m2                   33562
floor                         113321
rooms                          73830
expenses                      106958
properati_url                      0
description                        2
title                              0
image_thumbnail                 3112
dtype: int64

In [84]:
properati_csv[["currency","price_usd_per_m2","price_aprox_usd","price_per_m2","surface_total_in_m2"]].sample(45)

,currency,price_usd_per_m2,price_aprox_usd,price_per_m2,surface_total_in_m2
14358,usd,2580.645161,80000.00,2580.645161,31.0
29951,NaN,NaN,NaN,NaN,71.0
85589,ars,942402.282568,110832.00,53410.540541,41.0
56352,usd,NaN,55000.00,NaN,NaN
120178,usd,2080.555556,74900.00,2080.555556,54.0
102990,usd,NaN,288000.00,NaN,NaN
115148,ars,NaN,30846.02,NaN,NaN
71646,usd,1795.774648,255000.00,1795.774648,157.0
99042,usd,6052.631579,1150000.00,6052.631579,190.0
16207,NaN,NaN,NaN,NaN,NaN
5731,ars,709477.022123,119520.20,40209.528302,119.0
19130,usd,2589.285714,72500.00,2589.285714,28.0
48377,usd,2395.348837,103000.00,2395.348837,46.0
20748,usd,2403.846154,125000.00,2403.846154,58.0
85499,NaN,NaN,NaN,NaN,49.0
117299,usd,1552.631579,590000.00,1552.631579,NaN
22102,usd,1333.333333,200000.00,1333.333333,1350.0
19047,usd,1500.000000,180000.00,1500.000000,NaN
119828,usd,NaN,40500.00,NaN,46.0
47920,ars,136343.863636,23835.56,7727.272727,NaN
45487,usd,2485.714286,87000.00,2485.714286,35.0
88447,usd,2146.341463,88000.00,2146.341463,44.0
35461,usd,2500.000000,50000.00,2500.000000,NaN
26804,usd,1550.000000,77500.00,1550.000000,50.0
43530,usd,2384.615385,155000.00,2384.615385,65.0
14118,usd,3615.384615,235000.00,3615.384615,71.0
12875,usd,2116.564417,345000.00,2116.564417,927.0
98992,ars,NaN,98146.43,NaN,NaN
34138,usd,2375.000000,114000.00,2375.000000,NaN
4615,usd,937.500000,180000.00,937.500000,192.0
109486,usd,NaN,108000.00,NaN,60.0
100062,usd,NaN,30000.00,NaN,NaN
22387,usd,956.521739,220000.00,956.521739,NaN
81855,usd,1414.300000,56572.00,1414.300000,45.0
110349,usd,2833.333333,170000.00,2833.333333,60.0
56483,usd,1756.097561,72000.00,1756.097561,NaN
29277,usd,1763.636364,97000.00,1763.636364,NaN
26534,usd,3866.666667,290000.00,3866.666667,90.0
81088,NaN,NaN,NaN,NaN,26.0
99508,usd,2044.117647,139000.00,2044.117647,70.0
47525,usd,2200.000000,88000.00,2200.000000,NaN
31906,usd,2083.333333,400000.00,2083.333333,433.0
47238,usd,1222.222222,220000.00,1222.222222,448.0
6821,usd,1936.507937,122000.00,1936.507937,63.0
118782,usd,NaN,83000.00,NaN,NaN

In [86]:
properati.loc[120178,"price_aprox_local_currency"]

1321573.05

In [109]:
properati["currency"][(properati["currency"]="ars") & ~(properati["price_aprox_usd"].isna())] = "usd"

SyntaxError: invalid syntax (<ipython-input-109-7569014ba3f3>, line 1)

In [35]:
df_pesos = properati["price"][properati["currency"]=="ars"]
df_pesos = np.around(df_pesos/55)

In [101]:
properati.isnull().sum()

property_type                      0
place_name                        23
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    18717
lat-lon                        51550
lat                            51550
lon                            51550
price                          20410
currency                       20411
price_aprox_local_currency     20410
price_aprox_usd                20410
surface_total_in_m2            39328
surface_covered_in_m2          19907
price_usd_per_m2               33562
price_per_m2                   33562
floor                         113321
rooms                          73830
expenses                      106958
properati_url                      0
description                        2
title                              0
image_thumbnail                 3112
dtype: int64

In [45]:
# Tipo de cambio = 17.6445 ars

print("price_aprox_local_currency"/"price_aprox_usd")
print(29113425/1650000)
print(20644065.00/1170000.00)
print(2823120./160000.00)
print(3352455.00/190000.00)
print(1676227.50/95000.00)
print(3352455.00/190000.00)
print(2470230.00/140000.00)
print(1049847.75/59500.00)
print(3970012.50/225000.00)

17.6445
17.6445
17.6445
17.6445
17.6445
17.6445
17.6445
17.6445
17.6445

In [116]:
properati.iloc[9,:]

property_type                                                             house
place_name                                                              rosario
place_with_parent_names                            |argentina|santa fe|rosario|
country_name                                                          argentina
state_name                                                             santa fe
geonames_id                                                         3.83857e+06
lat-lon                                                  -32.942031,-60.7259192
lat                                                                     -32.942
lon                                                                    -60.7259
price                                                                   25798.5
currency                                                                    ars
price_aprox_local_currency                                               455201
price_aprox_usd                                                         25798.5
surface_total_in_m2                                                         NaN
surface_covered_in_m2                                                       NaN
price_usd_per_m2                                                            NaN
price_per_m2                                                                NaN
floor                                                                       NaN
rooms                                                                       NaN
expenses                                                                    NaN
properati_url                 http://www.properati.com.ar/15box_venta_casa_r...
description                   mednoza al 7600a una cuadra de calle mendozawh...
title                                white 7637 - 2 dormitorios con patio
image_thumbnail               https://thumbs4.properati.com/8/rcf1yewdf4rv98...
Name: 9, dtype: object

In [104]:
precios_pesos

9          460000.0
32         550000.0
37        1250000.0
78        5500000.0
97        1423800.0
99         850000.0
122       2600000.0
128       1250000.0
130       1111111.0
154       1200000.0
168       2500000.0
169       1760000.0
174       1473950.0
212        820000.0
213       1200000.0
232       1298000.0
233       2272000.0
265       1250000.0
307        825000.0
309       1500000.0
331       2550000.0
351       1099350.0
352       1113420.0
353       1127700.0
354       1141980.0
355       1327515.0
356       1344630.0
357       1361745.0
358       1105545.0
359       1120035.0
            ...
121177    1427000.0
121178    1432000.0
121179    1459000.0
121180    1459000.0
121181    1438000.0
121182    1411000.0
121183    1470000.0
121184    1454000.0
121185    1454000.0
121186    1465000.0
121187    1471000.0
121188    1471000.0
121189    2678000.0
121190    2714000.0
121191    1482000.0
121192    1482000.0
121193    1859000.0
121194    1487000.0
121195    1487000.0
121196    1497000.0
121197    1497000.0
121198    1492000.0
121199    1502000.0
121200    1498000.0
121201    1498000.0
121202    1507000.0
121203    1502000.0
121204    1502000.0
121205    1507000.0
121206    1507000.0
Name: price, Length: 13219, dtype: float64

In [114]:
properati["price"]

0          62000.00
1         150000.00
2          72000.00
3          95000.00
4          64000.00
5               NaN
6         130000.00
7         138000.00
8         195000.00
9          25798.49
10         70000.00
11        150000.00
12        115000.00
13        111700.00
14        147900.00
15        250000.00
16        239000.00
17        315000.00
18        570000.00
19        350000.00
20              NaN
21        270500.00
22        290000.00
23         82000.00
24        355000.00
25        358550.00
26        265000.00
27        650000.00
28        362150.00
29         75000.00
            ...
121190    152211.09
121191     83116.00
121192     83116.00
121193    104259.55
121194     83396.42
121195     83396.42
121196     83957.26
121197     83957.26
121198     83676.84
121199     84237.68
121200     84013.34
121201     84013.34
121202     84518.10
121203     84237.68
121204     84237.68
121205     84518.10
121206     84518.10
121207          NaN
121208          NaN
121209    410000.00
121210          NaN
121211          NaN
121212          NaN
121213          NaN
121214          NaN
121215    870000.00
121216    498000.00
121217    131500.00
121218     95900.00
121219    129000.00
Name: price, Length: 121220, dtype: float64

In [ ]:
------------------------------- Pesos a Dolares ----------------------------------

In [ ]:
--------------------------------- Precio per m2 -----------------------------------------

In [73]:
#se identifican "price_per_m2" nulos posibles de completar
#properati2.loc[17433,"price_per_m2"]
properati2[["price_per_m2","price","surface_total_in_m2"]].isna().sum()

price_per_m2           27779
price                  15888
surface_total_in_m2    35505
dtype: int64

In [29]:
properati2[["price_per_m2","price","surface_total_in_m2"]].sample(100)

NameError: name 'properati2' is not defined

In [100]:
#Mascara "price"=1 , "price_per_m2"=1 , "surface_total_in_m2"=0
(properati2["price"].notna() & properati2["price_per_m2"].notna() & properati2["surface_total_in_m2"].isna()).sum()

21991

In [107]:
properati2[["price","price_per_m2","surface_total_in_m2"]][properati2["price"].notna() \
                                                           & properati2["price_per_m2"].notna() \
                                                           & properati2["surface_total_in_m2"].isna()].sample(5)

            price  price_per_m2  surface_total_in_m2
68342    200000.0    884.955752                  NaN
119680   136000.0   1373.737374                  NaN
88210   2900000.0  22307.692308                  NaN
41066    135000.0   2410.714286                  NaN
27212   1400000.0  10000.000000                  NaN

In [ ]:
properati2[[surface_total_in_m2"]][properati2["price"].notna() \
                                                           & properati2["price_per_m2"].notna() \
                                                           & properati2["surface_total_in_m2"].isna()]

In [ ]:
--------------------------------- Precio per m2 -----------------------------------------

In [ ]:
#Se indentifica gran cantidad de datos expuestos en la descripccion del inmueble pero que no estan detallados en 
#su respectiva casilla del dataframe

#En algunos casos el currency figura en la descripcion        !!!Regex "currency":  u$s , us

In [ ]:
# En algunos casos el currency figura en la descripcion        !!!Regex "currency":  u$s , us 
properati2["description"][properati2["currency"].isna()]

In [125]:
# 9926ars + 78225usd + 15902na
properati2[["price","currency"]][properati2["currency"].isna()].head()

    price currency
5     NaN      NaN
20    NaN      NaN
41    NaN      NaN
62    NaN      NaN
67    NaN      NaN

In [141]:
#Verifico si el el currency lo puedo extraer del precio perm2
#properati2[["price","currency","price_aprox_usd","price_usd_per_m2","price_aprox_local_currency","price_per_m2"]]
#No hay currencys que se puedan sacar por precio aprox
properati2[["currency","price_aprox_usd"]][properati2["currency"].isna()& ~(properati2['price_aprox_usd'].isna())]

Empty DataFrame
Columns: [currency, price_aprox_usd]
Index: []

In [143]:
(properati2["currency"].isna()& ~(properati2['price_aprox_usd'].isna())).sum()

#Epic lane

0

In [145]:
(properati2["currency"].isna()& ~(properati2['price_aprox_local_currency'].isna())).sum()

0

In [147]:
(properati2["currency"].isna()& ~(properati2['price_aprox_usd'].isna())).sum()

0

In [ ]:
#Las anteriores lineas demuestran que no puedo inferir la currency viendo dichas columnas

In [ ]:

properati2["description"][properati2["description"]]

In [ ]:
#20410 anuncios sin precio y no figura en "description", justamente son las viviendas con operation: "sell"


properati2[["price","currency","price_aprox_usd","price_usd_per_m2","price_per_m2","operation"]][properati2[["price","description","currency","price_aprox_usd","price_usd_per_m2","price_per_m2"]].isnull().all(1)]