In [1]:
import pandas as pd
import numpy as np

In [2]:
properati = pd.read_csv("properatti.csv")

In [3]:
#Analisis superficial y resumidor del dataframe
properati.shape

(121220, 26)

In [4]:
properati.columns

Index(['Unnamed: 0', 'operation', 'property_type', 'place_name',
       'place_with_parent_names', 'country_name', 'state_name', 'geonames_id',
       'lat-lon', 'lat', 'lon', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2',
       'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'floor',
       'rooms', 'expenses', 'properati_url', 'description', 'title',
       'image_thumbnail'],
      dtype='object')

In [5]:
properati.isnull().sum()

Unnamed: 0                         0
operation                          0
property_type                      0
place_name                        23
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    18717
lat-lon                        51550
lat                            51550
lon                            51550
price                          20410
currency                       20411
price_aprox_local_currency     20410
price_aprox_usd                20410
surface_total_in_m2            39328
surface_covered_in_m2          19907
price_usd_per_m2               52603
price_per_m2                   33562
floor                         113321
rooms                          73830
expenses                      106958
properati_url                      0
description                        2
title                              0
image_thumbnail                 3112
dtype: int64

In [6]:
properati.describe()

,Unnamed: 0,geonames_id,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
count,121220.000000,1.025030e+05,69670.000000,69670.000000,1.008100e+05,1.008100e+05,1.008100e+05,81892.000000,101313.000000,68617.000000,8.765800e+04,7899.000000,47390.000000,1.426200e+04
mean,60609.500000,3.574442e+06,-34.626210,-59.266290,4.685259e+05,4.229397e+06,2.397006e+05,233.795328,133.050181,2160.086916,6.912216e+03,17.452336,3.080840,5.009234e+03
std,34993.344153,3.541306e+05,1.980936,2.299922,2.260101e+06,6.904714e+06,3.913239e+05,1782.222147,724.351479,2759.288621,2.837864e+04,120.243621,1.860773,1.204403e+05
min,0.000000,3.427208e+06,-54.823985,-75.678931,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.600000,1.510204e+00,1.000000,1.000000,1.000000e+00
25%,30304.750000,3.430234e+06,-34.669065,-58.727040,1.100000e+05,1.583309e+06,8.973388e+04,50.000000,45.000000,1218.181818,1.550000e+03,1.000000,2.000000,1.000000e+03
50%,60609.500000,3.433910e+06,-34.597985,-58.480128,1.850000e+05,2.558452e+06,1.450000e+05,84.000000,75.000000,1800.000000,2.213115e+03,3.000000,3.000000,2.000000e+03
75%,90914.250000,3.836668e+06,-34.441299,-58.395908,4.200000e+05,4.675792e+06,2.650000e+05,200.000000,150.000000,2486.411765,3.355549e+03,6.000000,4.000000,4.000000e+03
max,121219.000000,6.948895e+06,4.545843,-53.733330,6.500000e+08,8.212711e+08,4.654544e+07,200000.000000,187000.000000,206333.333333,4.000000e+06,3150.000000,32.000000,1.000150e+07

In [7]:
properati2 = properati

In [8]:
#Se dropean columnas repetidas (Unnamed = Indice) y se lowearcassean los strings del df

properati2.drop(columns=["Unnamed: 0"], inplace=True)   #"el drop tambien afecta al df orginal"

In [9]:
properati2 = properati2.applymap(lambda x: x if type(x)!=str else x.lower())

In [10]:
properati2.head()

,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,sell,ph,mataderos,|argentina|capital federal|mataderos|,argentina,capital federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,-58.508839,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 ambientes tipo casa planta baja por pasillo,...",2 amb tipo casa sin expensas en pb,https://thumbs4.properati.com/8/bluuyihjlhgiik...
1,sell,apartment,la plata,|argentina|bs.as. g.b.a. zona sur|la plata|,argentina,bs.as. g.b.a. zona sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,-57.964330,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,venta de departamento en décimo piso al frente...,venta depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpvbu2ztha7jv...
2,sell,apartment,mataderos,|argentina|capital federal|mataderos|,argentina,capital federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,-58.522982,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 ambientes 3er piso lateral living comedor am...,2 amb 3er piso con ascensor apto credito,https://thumbs4.properati.com/5/sxkr34f_iwg3w_...
3,sell,ph,liniers,|argentina|capital federal|liniers|,argentina,capital federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,-58.516424,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,ph 3 ambientes con patio. hay 3 deptos en lote...,ph 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/dgifx-85mog5sp...
4,sell,apartment,centro,|argentina|buenos aires costa atlántica|mar de...,argentina,buenos aires costa atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,-57.549447,...,35.0,1828.571429,1828.571429,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,departamento con fantástica iluminación natura...,depto 2 amb al contrafrente zona centro/plaza ...,https://thumbs4.properati.com/5/xrrqlncsi_vs-f...

In [11]:
#se compara que ambos df tienen igual cantidad de valores nulos
properati2.isnull().sum() == properati.isnull().sum()

operation                     True
property_type                 True
place_name                    True
place_with_parent_names       True
country_name                  True
state_name                    True
geonames_id                   True
lat-lon                       True
lat                           True
lon                           True
price                         True
currency                      True
price_aprox_local_currency    True
price_aprox_usd               True
surface_total_in_m2           True
surface_covered_in_m2         True
price_usd_per_m2              True
price_per_m2                  True
floor                         True
rooms                         True
expenses                      True
properati_url                 True
description                   True
title                         True
image_thumbnail               True
dtype: bool

In [12]:
#Se indentifica gran cantidad de datos expuestos en la descripccion del inmueble pero que no estan detallados en 
#su respectiva casilla del dataframe

In [14]:
properati2["description"][properati2["description"].isna()]

10664    NaN
96691    NaN
Name: description, dtype: object

In [48]:
properati.columns

Index(['operation', 'property_type', 'place_name', 'place_with_parent_names',
       'country_name', 'state_name', 'geonames_id', 'lat-lon', 'lat', 'lon',
       'price', 'currency', 'price_aprox_local_currency', 'price_aprox_usd',
       'surface_total_in_m2', 'surface_covered_in_m2', 'price_usd_per_m2',
       'price_per_m2', 'floor', 'rooms', 'expenses', 'properati_url',
       'description', 'title', 'image_thumbnail'],
      dtype='object')

In [15]:
#Precios sondeo

In [55]:
properati2[["price","currency","price_aprox_usd","price_usd_per_m2","price_per_m2"]]

            price currency  price_aprox_usd  price_usd_per_m2  price_per_m2
0         62000.0      usd         62000.00       1127.272727   1550.000000
1        150000.0      usd        150000.00               NaN           NaN
2         72000.0      usd         72000.00       1309.090909   1309.090909
3         95000.0      usd         95000.00               NaN           NaN
4         64000.0      usd         64000.00       1828.571429   1828.571429
5             NaN      NaN              NaN               NaN           NaN
6        130000.0      usd        130000.00       1226.415094   1666.666667
7        138000.0      usd        138000.00       3066.666667   3450.000000
8        195000.0      usd        195000.00       3000.000000   3250.000000
9        460000.0      ars         25798.49               NaN           NaN
10        70000.0      usd         70000.00         46.235139           NaN
11       150000.0      usd        150000.00               NaN           NaN
12       115000.0      usd        115000.00       2948.717949   3194.444444
13       111700.0      usd        111700.00       2234.000000   3723.333333
14       147900.0      usd        147900.00       3521.428571   4770.967742
15       250000.0      usd        250000.00       1524.390244           NaN
16       239000.0      usd        239000.00       1707.142857   2438.775510
17       315000.0      usd        315000.00       1789.772727   4038.461538
18       570000.0      usd        570000.00       2111.111111   2111.111111
19       350000.0      usd        350000.00       3365.384615   3645.833333
20            NaN      NaN              NaN               NaN           NaN
21       270500.0      usd        270500.00       2292.372881   3705.479452
22       290000.0      usd        290000.00       1450.000000   1450.000000
23        82000.0      usd         82000.00       1708.333333   1952.380952
24       355000.0      usd        355000.00       2218.750000   2218.750000
25       358550.0      usd        358550.00       2240.937500   2240.937500
26       265000.0      usd        265000.00       1152.173913   1394.736842
27       650000.0      usd        650000.00       1529.411765   1529.411765
28       362150.0      usd        362150.00       2263.437500   2263.437500
29        75000.0      usd         75000.00       1744.186047   1744.186047
...           ...      ...              ...               ...           ...
121190  2714000.0      ars        152211.09       1522.110900           NaN
121191  1482000.0      ars         83116.00       1662.320000           NaN
121192  1482000.0      ars         83116.00       1662.320000           NaN
121193  1859000.0      ars        104259.55        766.614338           NaN
121194  1487000.0      ars         83396.42       1667.928400           NaN
121195  1487000.0      ars         83396.42       1667.928400           NaN
121196  1497000.0      ars         83957.26       1614.562692           NaN
121197  1497000.0      ars         83957.26       1679.145200           NaN
121198  1492000.0      ars         83676.84       1673.536800           NaN
121199  1502000.0      ars         84237.68       1619.955385           NaN
121200  1498000.0      ars         84013.34       1680.266800           NaN
121201  1498000.0      ars         84013.34       1680.266800           NaN
121202  1507000.0      ars         84518.10       1625.348077           NaN
121203  1502000.0      ars         84237.68       1684.753600           NaN
121204  1502000.0      ars         84237.68       1684.753600           NaN
121205  1507000.0      ars         84518.10       1690.362000           NaN
121206  1507000.0      ars         84518.10       1690.362000           NaN
121207        NaN      NaN              NaN               NaN           NaN
121208        NaN      NaN              NaN               NaN           NaN
121209   410000.0      usd        410000.00       2611.464968           NaN
121210        NaN      NaN              NaN               NaN           NaN
121211        NaN      NaN              NaN               NaN           NaN
121212        NaN      NaN              NaN               NaN           NaN
121213        NaN      NaN              NaN               NaN           NaN
121214        NaN      NaN              NaN               NaN           NaN
121215   870000.0      usd        870000.00       7699.115044   9354.838710
121216   498000.0      usd        498000.00       1383.333333   1383.333333
121217   131500.0      usd        131500.00       2858.695652   3371.794872
121218    95900.0      usd         95900.00       1997.916667   1997.916667
121219   129000.0      usd        129000.00       1675.324675   1675.324675

[121220 rows x 5 columns]

In [ ]:
#

In [80]:
#20410 anuncios sin precio y no figura en "description", justamente son las viviendas con operation: "sell"
properati2[["price","currency","price_aprox_usd","price_usd_per_m2","price_per_m2","operation"]][properati2[["price","currency","price_aprox_usd","price_usd_per_m2","price_per_m2"]].isnull().all(1)]

,price,currency,price_aprox_usd,price_usd_per_m2,price_per_m2,operation
5,NaN,NaN,NaN,NaN,NaN,sell
20,NaN,NaN,NaN,NaN,NaN,sell
41,NaN,NaN,NaN,NaN,NaN,sell
62,NaN,NaN,NaN,NaN,NaN,sell
67,NaN,NaN,NaN,NaN,NaN,sell
76,NaN,NaN,NaN,NaN,NaN,sell
83,NaN,NaN,NaN,NaN,NaN,sell
84,NaN,NaN,NaN,NaN,NaN,sell
85,NaN,NaN,NaN,NaN,NaN,sell
100,NaN,NaN,NaN,NaN,NaN,sell
101,NaN,NaN,NaN,NaN,NaN,sell
102,NaN,NaN,NaN,NaN,NaN,sell
103,NaN,NaN,NaN,NaN,NaN,sell
124,NaN,NaN,NaN,NaN,NaN,sell
125,NaN,NaN,NaN,NaN,NaN,sell
126,NaN,NaN,NaN,NaN,NaN,sell
133,NaN,NaN,NaN,NaN,NaN,sell
134,NaN,NaN,NaN,NaN,NaN,sell
136,NaN,NaN,NaN,NaN,NaN,sell
139,NaN,NaN,NaN,NaN,NaN,sell
156,NaN,NaN,NaN,NaN,NaN,sell
171,NaN,NaN,NaN,NaN,NaN,sell
175,NaN,NaN,NaN,NaN,NaN,sell
176,NaN,NaN,NaN,NaN,NaN,sell
180,NaN,NaN,NaN,NaN,NaN,sell
183,NaN,NaN,NaN,NaN,NaN,sell
184,NaN,NaN,NaN,NaN,NaN,sell
185,NaN,NaN,NaN,NaN,NaN,sell
186,NaN,NaN,NaN,NaN,NaN,sell
197,NaN,NaN,NaN,NaN,NaN,sell
...,...,...,...,...,...,...
121045,NaN,NaN,NaN,NaN,NaN,sell
121046,NaN,NaN,NaN,NaN,NaN,sell
121047,NaN,NaN,NaN,NaN,NaN,sell
121048,NaN,NaN,NaN,NaN,NaN,sell
121049,NaN,NaN,NaN,NaN,NaN,sell
121050,NaN,NaN,NaN,NaN,NaN,sell
121051,NaN,NaN,NaN,NaN,NaN,sell
121052,NaN,NaN,NaN,NaN,NaN,sell
121060,NaN,NaN,NaN,NaN,NaN,sell
121063,NaN,NaN,NaN,NaN,NaN,sell
121085,NaN,NaN,NaN,NaN,NaN,sell
121086,NaN,NaN,NaN,NaN,NaN,sell
121087,NaN,NaN,NaN,NaN,NaN,sell
121099,NaN,NaN,NaN,NaN,NaN,sell
121110,NaN,NaN,NaN,NaN,NaN,sell
121114,NaN,NaN,NaN,NaN,NaN,sell
121115,NaN,NaN,NaN,NaN,NaN,sell
121116,NaN,NaN,NaN,NaN,NaN,sell
121123,NaN,NaN,NaN,NaN,NaN,sell
121126,NaN,NaN,NaN,NaN,NaN,sell
121127,NaN,NaN,NaN,NaN,NaN,sell
121129,NaN,NaN,NaN,NaN,NaN,sell
121142,NaN,NaN,NaN,NaN,NaN,sell
121207,NaN,NaN,NaN,NaN,NaN,sell
121208,NaN,NaN,NaN,NaN,NaN,sell
121210,NaN,NaN,NaN,NaN,NaN,sell
121211,NaN,NaN,NaN,NaN,NaN,sell
121212,NaN,NaN,NaN,NaN,NaN,sell
121213,NaN,NaN,NaN,NaN,NaN,sell
121214,NaN,NaN,NaN,NaN,NaN,sell