In [1]:
import pandas as pd
import numpy as np

In [91]:
properati = pd.read_csv("properatti.csv")
properati_csv = pd.read_csv("properatti.csv")

In [48]:
properati.shape

(121220, 26)

In [92]:
#Se dropean columnas repetidas (Unnamed = Indice)
properati.drop(columns=["Unnamed: 0"], inplace=True) 
properati_csv.drop(columns=["Unnamed: 0"], inplace=True)

In [93]:
#lowearcassean los strings del df
properati = properati.applymap(lambda x: x if type(x)!=str else x.lower())
properati_csv = properati_csv.applymap(lambda x: x if type(x)!=str else x.lower())

In [29]:
properati.head(2)

,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,sell,ph,mataderos,|argentina|capital federal|mataderos|,argentina,capital federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,-58.508839,...,40.0,1127.272727,1550.0,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 ambientes tipo casa planta baja por pasillo,...",2 amb tipo casa sin expensas en pb,https://thumbs4.properati.com/8/bluuyihjlhgiik...
1,sell,apartment,la plata,|argentina|bs.as. g.b.a. zona sur|la plata|,argentina,bs.as. g.b.a. zona sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,-57.964330,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,venta de departamento en décimo piso al frente...,venta depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpvbu2ztha7jv...

In [94]:
#Todas las valores en "operation" figura como sell, se dropea la columna
#properati["operation"][properati2["operation"]!="sell"].sum() #0
properati.drop(columns=["operation"], inplace=True)
properati_csv.drop(columns=["operation"], inplace=True)

In [73]:
#Se dropean las filas con descripccion repetidas
#properati:121220 ; properati2: 104005  
propearti = properati.drop_duplicates()
properati.shape

(121220, 24)

In [74]:
properati.tail(5)   # el drop_duplicates no sirvio un carajo

,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,price,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
121215,apartment,belgrano,|argentina|capital federal|belgrano|,argentina,capital federal,3436077.0,NaN,NaN,NaN,870000.0,...,93.0,7699.115044,9354.838710,NaN,NaN,10000.0,http://www.properati.com.ar/1cja2_venta_depart...,torre forum alcorta - máxima categoría.impecab...,torre forum alcorta- impecable 3 ambientes,https://thumbs4.properati.com/1/bjms0knaanlnoq...
121216,house,beccar,|argentina|bs.as. g.b.a. zona norte|san isidro...,argentina,bs.as. g.b.a. zona norte,3436080.0,NaN,NaN,NaN,498000.0,...,360.0,1383.333333,1383.333333,NaN,NaN,NaN,http://www.properati.com.ar/1cja6_venta_casa_b...,excelente e impecable casa en venta en las lom...,ruca inmuebles | venta | lomas de san isidro |...,https://thumbs4.properati.com/2/pcc3wuqdjpnzc4...
121217,apartment,villa urquiza,|argentina|capital federal|villa urquiza|,argentina,capital federal,3433775.0,"-34.5706388726,-58.4755963355",-34.570639,-58.475596,131500.0,...,39.0,2858.695652,3371.794872,NaN,NaN,NaN,http://www.properati.com.ar/1cja7_venta_depart...,venta departamento ambiente divisible a estren...,venta departamento ambiente divisible a estren...,https://thumbs4.properati.com/9/yae_-2grvykadp...
121218,apartment,plaza colón,|argentina|buenos aires costa atlántica|mar de...,argentina,buenos aires costa atlántica,NaN,NaN,NaN,NaN,95900.0,...,48.0,1997.916667,1997.916667,NaN,NaN,NaN,http://www.properati.com.ar/1cja8_venta_depart...,"2 amb al contrafrente, luminoso. el departame...",2 amb. c/ dep. de servicio al contrafrente| re...,https://thumbs4.properati.com/8/q12ptvu6bqj0ib...
121219,apartment,capital federal,|argentina|capital federal|,argentina,capital federal,3433955.0,NaN,NaN,NaN,129000.0,...,77.0,1675.324675,1675.324675,NaN,NaN,3500.0,http://www.properati.com.ar/1cjaa_venta_depart...,departamento de 77 m2 apto profesional. edific...,departamento apto profesional en el centro,https://thumbs4.properati.com/8/mnesnqwqb7jobf...

In [34]:
#mascara booleana que indica que no hay currency nan con valor en price
(properati['currency'].isna() & ~properati['price'].isna()).sum()

1

In [49]:
#TAREA: properati2[["price","currency","price_aprox_usd","price_usd_per_m2","price_per_m2","price_aprox_local_currency"]]

In [ ]:
------------------------------- Pesos a Dolares ----------------------------------

In [ ]:
#Convertir los precios en pesos a dolares
# len(properati["price"][properati["currency"]=="ars"])          # Precios en ars = 13219

In [112]:
#Convertir los precios en pesos a dolares

#Inferi mal por que no tuve en cuenta el tipo de cambio en el momento de la publicacion
#properati["price"][properati["currency"]=="ars"] = properati["price"][properati["currency"]=="ars"].apply(lambda x: x/55)

In [76]:
#properati["price"] = np.around(properati["price"])

In [97]:
precios_pesos = properati["price"][properati["currency"]=="ars"]
properati[["price","price_aprox_usd"]][properati["currency"]=="ars"]

            price  price_aprox_usd
9        460000.0         25798.49
32       550000.0         30846.02
37      1250000.0         70104.59
78      5500000.0        308460.22
97      1423800.0         79851.93
99       850000.0         47671.12
122     2600000.0        145817.55
128     1250000.0         70104.59
130     1111111.0         62315.19
154     1200000.0         67300.41
168     2500000.0        140209.19
169     1760000.0         98707.27
174     1473950.0         82664.53
212      820000.0         45988.61
213     1200000.0         67300.41
232     1298000.0         72796.61
233     2272000.0        127422.11
265     1250000.0         70104.59
307      825000.0         46269.03
309     1500000.0         84125.51
331     2550000.0        143013.37
351     1099350.0         61655.59
352     1113420.0         62444.68
353     1127700.0         63245.56
354     1141980.0         64046.43
355     1327515.0         74451.92
356     1344630.0         75411.79
357     1361745.0         76371.66
358     1105545.0         62003.02
359     1120035.0         62815.68
...           ...              ...
121177  1427000.0         80031.40
121178  1432000.0         80311.82
121179  1459000.0         81826.08
121180  1459000.0         81826.08
121181  1438000.0         80648.32
121182  1411000.0         79134.06
121183  1470000.0         82443.00
121184  1454000.0         81545.66
121185  1454000.0         81545.66
121186  1465000.0         82162.58
121187  1471000.0         82499.08
121188  1471000.0         82499.08
121189  2678000.0        150192.08
121190  2714000.0        152211.09
121191  1482000.0         83116.00
121192  1482000.0         83116.00
121193  1859000.0        104259.55
121194  1487000.0         83396.42
121195  1487000.0         83396.42
121196  1497000.0         83957.26
121197  1497000.0         83957.26
121198  1492000.0         83676.84
121199  1502000.0         84237.68
121200  1498000.0         84013.34
121201  1498000.0         84013.34
121202  1507000.0         84518.10
121203  1502000.0         84237.68
121204  1502000.0         84237.68
121205  1507000.0         84518.10
121206  1507000.0         84518.10

[13219 rows x 2 columns]

In [113]:
#precios q se infieren a dolares por medio de la columna "price_aprox_usd"
properati["price"][properati["currency"]=="ars"] = properati["price_aprox_usd"][properati["currency"]=="ars"]

C:\Users\Kristian\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [107]:
properati["price"] = np.around(properati["price"],1)

In [ ]:
------------------------------- Pesos a Dolares ----------------------------------

In [ ]:
########## Pienso
#(properati["currency"].isna() & ~(properati["price"].isna())).sum()  #= 1    ##cuanto precios con valor y currencys nan hay

In [117]:
#properati["currency"][properati["price_aprox_usd"][properati["currency"]=="ars"]] = "ars"

In [123]:
### dropearia la columna currency

In [132]:
# No se pueden inferir precios por preciosxm2, pero si se pueden inferir "price_usd_per_m2" por el precio
properati[["price","price_aprox_local_currency","price_aprox_usd","price_usd_per_m2","price_per_m2"]].sample(1)

,price,price_aprox_local_currency,price_aprox_usd,price_usd_per_m2,price_per_m2
85967,124344.33,2193993.53,124344.33,3360.657568,66445.090909

In [109]:
properati["currency"][(properati["currency"]="ars") & ~(properati["price_aprox_usd"].isna())] = "usd"

SyntaxError: invalid syntax (<ipython-input-109-7569014ba3f3>, line 1)

In [35]:
df_pesos = properati["price"][properati["currency"]=="ars"]
df_pesos = np.around(df_pesos/55)

In [95]:
properati_csv.iloc[9,:]

property_type                                                             house
place_name                                                              rosario
place_with_parent_names                            |argentina|santa fe|rosario|
country_name                                                          argentina
state_name                                                             santa fe
geonames_id                                                         3.83857e+06
lat-lon                                                  -32.942031,-60.7259192
lat                                                                     -32.942
lon                                                                    -60.7259
price                                                                    460000
currency                                                                    ars
price_aprox_local_currency                                               455201
price_aprox_usd                                                         25798.5
surface_total_in_m2                                                         NaN
surface_covered_in_m2                                                       NaN
price_usd_per_m2                                                            NaN
price_per_m2                                                                NaN
floor                                                                       NaN
rooms                                                                       NaN
expenses                                                                    NaN
properati_url                 http://www.properati.com.ar/15box_venta_casa_r...
description                   mednoza al 7600a una cuadra de calle mendozawh...
title                                white 7637 - 2 dormitorios con patio
image_thumbnail               https://thumbs4.properati.com/8/rcf1yewdf4rv98...
Name: 9, dtype: object

In [116]:
properati.iloc[9,:]

property_type                                                             house
place_name                                                              rosario
place_with_parent_names                            |argentina|santa fe|rosario|
country_name                                                          argentina
state_name                                                             santa fe
geonames_id                                                         3.83857e+06
lat-lon                                                  -32.942031,-60.7259192
lat                                                                     -32.942
lon                                                                    -60.7259
price                                                                   25798.5
currency                                                                    ars
price_aprox_local_currency                                               455201
price_aprox_usd                                                         25798.5
surface_total_in_m2                                                         NaN
surface_covered_in_m2                                                       NaN
price_usd_per_m2                                                            NaN
price_per_m2                                                                NaN
floor                                                                       NaN
rooms                                                                       NaN
expenses                                                                    NaN
properati_url                 http://www.properati.com.ar/15box_venta_casa_r...
description                   mednoza al 7600a una cuadra de calle mendozawh...
title                                white 7637 - 2 dormitorios con patio
image_thumbnail               https://thumbs4.properati.com/8/rcf1yewdf4rv98...
Name: 9, dtype: object

In [104]:
precios_pesos

9          460000.0
32         550000.0
37        1250000.0
78        5500000.0
97        1423800.0
99         850000.0
122       2600000.0
128       1250000.0
130       1111111.0
154       1200000.0
168       2500000.0
169       1760000.0
174       1473950.0
212        820000.0
213       1200000.0
232       1298000.0
233       2272000.0
265       1250000.0
307        825000.0
309       1500000.0
331       2550000.0
351       1099350.0
352       1113420.0
353       1127700.0
354       1141980.0
355       1327515.0
356       1344630.0
357       1361745.0
358       1105545.0
359       1120035.0
            ...
121177    1427000.0
121178    1432000.0
121179    1459000.0
121180    1459000.0
121181    1438000.0
121182    1411000.0
121183    1470000.0
121184    1454000.0
121185    1454000.0
121186    1465000.0
121187    1471000.0
121188    1471000.0
121189    2678000.0
121190    2714000.0
121191    1482000.0
121192    1482000.0
121193    1859000.0
121194    1487000.0
121195    1487000.0
121196    1497000.0
121197    1497000.0
121198    1492000.0
121199    1502000.0
121200    1498000.0
121201    1498000.0
121202    1507000.0
121203    1502000.0
121204    1502000.0
121205    1507000.0
121206    1507000.0
Name: price, Length: 13219, dtype: float64

In [114]:
properati["price"]

0          62000.00
1         150000.00
2          72000.00
3          95000.00
4          64000.00
5               NaN
6         130000.00
7         138000.00
8         195000.00
9          25798.49
10         70000.00
11        150000.00
12        115000.00
13        111700.00
14        147900.00
15        250000.00
16        239000.00
17        315000.00
18        570000.00
19        350000.00
20              NaN
21        270500.00
22        290000.00
23         82000.00
24        355000.00
25        358550.00
26        265000.00
27        650000.00
28        362150.00
29         75000.00
            ...
121190    152211.09
121191     83116.00
121192     83116.00
121193    104259.55
121194     83396.42
121195     83396.42
121196     83957.26
121197     83957.26
121198     83676.84
121199     84237.68
121200     84013.34
121201     84013.34
121202     84518.10
121203     84237.68
121204     84237.68
121205     84518.10
121206     84518.10
121207          NaN
121208          NaN
121209    410000.00
121210          NaN
121211          NaN
121212          NaN
121213          NaN
121214          NaN
121215    870000.00
121216    498000.00
121217    131500.00
121218     95900.00
121219    129000.00
Name: price, Length: 121220, dtype: float64

In [ ]:
------------------------------- Pesos a Dolares ----------------------------------

In [ ]:
--------------------------------- Precio per m2 -----------------------------------------

In [73]:
#se identifican "price_per_m2" nulos posibles de completar
#properati2.loc[17433,"price_per_m2"]
properati2[["price_per_m2","price","surface_total_in_m2"]].isna().sum()

price_per_m2           27779
price                  15888
surface_total_in_m2    35505
dtype: int64

In [72]:
properati2[["price_per_m2","price","surface_total_in_m2"]].sample(10)

        price_per_m2     price  surface_total_in_m2
59755    2363.636364  130000.0                  NaN
96354     857.142857  300000.0                350.0
97927    1928.934010  380000.0                233.0
57734    3437.500000  165000.0                 60.0
100197           NaN       NaN                 37.0
24962    1222.222222  550000.0               1200.0
120787           NaN       NaN                 70.0
55067    1545.454545  340000.0                  NaN
49096            NaN  115000.0                  NaN
12798            NaN   65000.0                 40.0

In [100]:
#Mascara "price"=1 , "price_per_m2"=1 , "surface_total_in_m2"=0
(properati2["price"].notna() & properati2["price_per_m2"].notna() & properati2["surface_total_in_m2"].isna()).sum()

21991

In [107]:
properati2[["price","price_per_m2","surface_total_in_m2"]][properati2["price"].notna() \
                                                           & properati2["price_per_m2"].notna() \
                                                           & properati2["surface_total_in_m2"].isna()].sample(5)

            price  price_per_m2  surface_total_in_m2
68342    200000.0    884.955752                  NaN
119680   136000.0   1373.737374                  NaN
88210   2900000.0  22307.692308                  NaN
41066    135000.0   2410.714286                  NaN
27212   1400000.0  10000.000000                  NaN

In [ ]:
properati2[[surface_total_in_m2"]][properati2["price"].notna() \
                                                           & properati2["price_per_m2"].notna() \
                                                           & properati2["surface_total_in_m2"].isna()]

In [ ]:
--------------------------------- Precio per m2 -----------------------------------------

In [ ]:
#Se indentifica gran cantidad de datos expuestos en la descripccion del inmueble pero que no estan detallados en 
#su respectiva casilla del dataframe

#En algunos casos el currency figura en la descripcion        !!!Regex "currency":  u$s , us

In [ ]:
# En algunos casos el currency figura en la descripcion        !!!Regex "currency":  u$s , us 
properati2["description"][properati2["currency"].isna()]

In [125]:
# 9926ars + 78225usd + 15902na
properati2[["price","currency"]][properati2["currency"].isna()].head()

    price currency
5     NaN      NaN
20    NaN      NaN
41    NaN      NaN
62    NaN      NaN
67    NaN      NaN

In [141]:
#Verifico si el el currency lo puedo extraer del precio perm2
#properati2[["price","currency","price_aprox_usd","price_usd_per_m2","price_aprox_local_currency","price_per_m2"]]
#No hay currencys que se puedan sacar por precio aprox
properati2[["currency","price_aprox_usd"]][properati2["currency"].isna()& ~(properati2['price_aprox_usd'].isna())]

Empty DataFrame
Columns: [currency, price_aprox_usd]
Index: []

In [143]:
(properati2["currency"].isna()& ~(properati2['price_aprox_usd'].isna())).sum()

#Epic lane

0

In [145]:
(properati2["currency"].isna()& ~(properati2['price_aprox_local_currency'].isna())).sum()

0

In [147]:
(properati2["currency"].isna()& ~(properati2['price_aprox_usd'].isna())).sum()

0

In [ ]:
#Las anteriores lineas demuestran que no puedo inferir la currency viendo dichas columnas

In [ ]:

properati2["description"][properati2["description"]]

In [ ]:
#20410 anuncios sin precio y no figura en "description", justamente son las viviendas con operation: "sell"


properati2[["price","currency","price_aprox_usd","price_usd_per_m2","price_per_m2","operation"]][properati2[["price","description","currency","price_aprox_usd","price_usd_per_m2","price_per_m2"]].isnull().all(1)]