In [1]:
import pandas as pd
import numpy as np

In [2]:
properati = pd.read_csv("properatti.csv")

In [3]:
properati.shape

(121220, 26)

In [4]:
properati.sample(2)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
71223,71223,sell,apartment,Villa del Parque,|Argentina|Capital Federal|Villa del Parque|,Argentina,Capital Federal,3427455.0,"-34.5979640934,-58.4857021163",-34.597964,...,32.0,1460.353846,2966.34375,NaN,NaN,NaN,http://www.properati.com.ar/1ako6_venta_depart...,"Excelente monoambiente a estrenar, divisibles,...",Excelente monoambiente a estrenar con tza.propia,https://thumbs4.properati.com/2/EWxjP0-D-aHdjH...
68777,68777,sell,apartment,San Miguel de Tucumán,|Argentina|Tucumán|San Miguel de Tucumán|,Argentina,Tucumán,3836873.0,NaN,NaN,...,105.0,785.171444,24000.00000,NaN,NaN,NaN,http://www.properati.com.ar/1ahd2_venta_depart...,"TORRE OESTE I, 3 DORMITORIOS",Departamento - Zona Mate De Luna,https://thumbs4.properati.com/7/acnzlo8aTrCWJq...

In [5]:
properati.columns

Index(['Unnamed: 0', 'operation', 'property_type', 'place_name',
       'place_with_parent_names', 'country_name', 'state_name', 'geonames_id',
       'lat-lon', 'lat', 'lon', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2',
       'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'floor',
       'rooms', 'expenses', 'properati_url', 'description', 'title',
       'image_thumbnail'],
      dtype='object')

In [8]:
properati.isnull().sum()

Unnamed: 0                         0
operation                          0
property_type                      0
place_name                        23
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    18717
lat-lon                        51550
lat                            51550
lon                            51550
price                          20410
currency                       20411
price_aprox_local_currency     20410
price_aprox_usd                20410
surface_total_in_m2            39328
surface_covered_in_m2          19907
price_usd_per_m2               52603
price_per_m2                   33562
floor                         113321
rooms                          73830
expenses                      106958
properati_url                      0
description                        2
title                              0
image_thumbnail                 3112
dtype: int64